body{
    text-align: center;
    background-color: aquamarine;
    padding-top: 1.5vh;
}

.DappBox{
    padding: 2.5vh;
    margin-top: 3vh;
    margin-left: 13vw;
    margin-right: 13vw;
    margin-bottom: 3.5vh;
    background-color: white;
    text-align: center;
    min-height: 66vh;
    border-radius: 20px;
}

.CollectionInput{
    width: 30
}