body{
    text-align: center;
    background-color: aquamarine;
    padding-top: 3vh;
}

.DappBox{
    padding: 5vh;
    margin-top: 5;
    background-color: white;
    text-align: center;
    min-width: 35vw;
    min-height: 66vh;
}