body{
    text-align: center;
    background-color: aquamarine;
    padding-top: 1.5vh;
}

.DappBox{
    padding: 5vh;
    margin-top: 2vh;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: white;
    text-align: center;
    min-width: 35vw;
    min-height: 66vh;
    border-radius: 20px;
}